include top.jade 
                img#Sony(background: src="../img/logo_03.png")
                .upload(style="border:1px")
                        .pro
                                ul.proul
                                
                                        each pro in product
                                                li
                                                        .totallist
                                                                .thumb
                                                                        a(href='/prod/productDetail?num='+pro.num)
                                                                                img(src="../dbimg/"+pro.img_name)       
                                                                        a#name(href='/prod/productDetail?num='+pro.num style="text-align:center;")=pro.prod_name
                                                                        .listbtm
                                                                                
                                                                                -var cnt=0;
                                                                        -var price='$'+pro.prod_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                                        
                                                                        
                                                                         a(style="margin-left:150px")=price
                                                                        .revnum
                                                                                        span(style="margin-left:150px")="Review "+cnt+"건" 
                                                                        a#comp=pro.prod_comp                
                .pagingdiv
                        .paging
                                -var pover=Math.trunc(pager.pagecnt/10)
                                if(pover)
                                        if(pno<11)
                                                - var n = 1 //시작페이지
                                                - var max=10 //끝페이지
                                                - var next=11 //다음10페이지
                                                - var check=1 //다음,마지막페이지 체크
                                        else
                                                - var n=pno%10 ==0 ? (Math.trunc(pno/10)-1)*10+1 : Math.trunc(pno/10)*10+1 //시작페이지
                                                - var ip=Math.trunc(n/10) //시작페이지앞자리
                                                - var fp=Math.trunc(pager.pagecnt/10) //마지막페이지앞자리
                                                -var pna=pager.pagecnt-n //잔여페이지수
                                                -var next=(ip+1)*10+1 //다음10페이지
                                                -var prev=ip*10 //전10페이지
                                                if(ip == fp)
                                                        -var max=n+pna
                                                else
                                                        -var max=n+9
                                else
                                        - var n = 1
                                        - var max=pager.pagecnt
                                span
                                        ul
                                                if(search)
                                                        if(pno>10)
                                                                li
                                                                        a#first(href="/search?page=1&search="+search style="height: 14px;")
                                                                                img(src="./img/dbackb.png")
                                                        if(prev)
                                                                li
                                                                        a#prev(href="/search?page="+prev+"&search="+search style="padding: 6px 4px 4px 4px;height: 12px;")
                                                                                img(src="./img/backb.png")
                                                        while n <= max
                                                                li
                                                                        if(pno==n)
                                                                                a(href="/search?page="+n+"&search="+search style="color: #fff;border: 1px solid #f40;background-color: #f40;")=n++
                                                                        else
                                                                                a(href="/search?page="+n+"&search="+search)=n++

                                                        if(ip != fp || check)
                                                                li
                                                                        a#next(href="/search?page="+next+"&search="+search style="padding: 6px 4px 4px 4px;height: 12px;")
                                                                                img(src="./img/forb.png")
                                                                li
                                                                        a#final(href="/search?page="+pager.pagecnt+"&search="+search style="height: 14px;")
                                                                                img(src="./img/dforb.png")
                                                else
                                                        if(pno>10)
                                                                li
                                                                        a#first(href="/prod" style="height: 14px;")
                                                                                img(src="./img/dbackb.png")
                                                        if(prev)
                                                                li
                                                                        a#prev(href="/prod/pagenum="+prev style="padding: 6px 4px 4px 4px;height: 12px;")
                                                                                img(src="./img/backb.png")
                                                        while n <= max
                                                                li
                                                                        if(pno==n)
                                                                                a(href="/prod/pagenum="+n style="color: red;")=n++
                                                                        else
                                                                                a(href="/prod/pagenum="+n)=n++

                                                        if(ip != fp || check)
                                                                li
                                                                        a#next(href="/prod/pagenum="+next style="padding: 6px 4px 4px 4px;height: 12px;")
                                                                                img(src="./img/forb.png")
                                                                li
                                                                        a#final(href="/prod/pagenum="+pager.pagecnt style="height: 14px;")
                                                                                img(src="./img/dforb.png")
include ../user/bot.jade                
                script.
                        $("#first").hover(function(){
                                $("#first").children().attr('src','./img/dbackw.png');
                        },function(){
                                $("#first").children().attr('src','./img/dbackb.png');
                        })
                        $("#prev").hover(function(){
                                $("#prev").children().attr('src','./img/backw.png');
                        },function(){
                                $("#prev").children().attr('src','./img/backb.png');
                        })
                        $("#next").hover(function(){
                                $("#next").children().attr('src','./img/forw.png');
                        },function(){
                                $("#next").children().attr('src','./img/forb.png');
                        })
                        $("#final").hover(function(){
                                $("#final").children().attr('src','./img/dforw.png');
                        },function(){
                                $("#final").children().attr('src','./img/dforb.png');
                        })



                                        

                        
                        







